<h1>Your Teams</h1>

<ul>
  <% @current_user.teams.each do |team| %>
    <li><%= link_to team.name, team_path(team) %> - <%= team.league.name %></li>
  <% end %>
</ul>

<%= button_to "Create a Team", new_team_path, method: "get"%>
<%= button_to "Create a New League", new_league_path, method: "get" %>

