<h1>HOME PAGE</h1>



<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= button_to "Login", login_path, method: "get", class: "btn btn-primary btn-lg" %>
    <br>
    <%= button_to "Create a New Account", new_user_path, method: "get", class: "btn btn-primary btn-lg" %>
</div>